h1, h4 {
  text-align: center;
}

h1, h2, h3, h4 {

}
.nav, #search {
  margin: 10px;
}

#btn #btn2{
  margin:15px;
}

#nothing-selected{
  display:none;
}

#Beaches, #Mountains, #Jungles {
  display: none;
}
